footer{
    background-color: $BGcolor;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i{
        margin-left: 10px;
    }
    p{
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    footer{
        flex-direction: column;
        padding-bottom: 10px;
        i, p{
            margin: 0;
            padding-top: 10px;
        }
    }
}