#car-rent{
    background-color: rgb(37, 36, 36);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: solid 1px white;
    padding-bottom: 50px;
    padding-top: 50px;
    #car-infos{
        padding: 20px;
        font-size: 1.2rem;
        #phone{
            font-weight: bold;
            font-size: 1.6rem;
        }
    }
    img{
        max-width: 40%;
        min-width: 300px;
    }
}
#roasting-rent{
    background-color: rgb(37, 36, 36);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px white;
    padding-bottom: 50px;
    padding-top: 50px;
    #roasting-infos{
        padding: 20px;
        font-size: 1.2rem;
        max-width: 600px;
        h2{
            font-size: 1.5rem;
        }
    }
    img{
        max-width: 40%;
        min-width: 300px;
    }
}

@media (max-width: 900px) {
    #car-rent{
        padding-top: 10px;
        img{
            max-width: 70%;
        }
    }
    #roasting-rent{
       padding-top: 10px;
        flex-wrap: wrap-reverse;
        img{
            max-width: 70%;
        }
    }
}