#title-meal{
    margin: 0;
    padding-top: 80px;
    text-align: center;
    background-color: rgb(37, 36, 36);
    color: white;
    font-size: 3rem;
}

#beef, #pork, #lamb{
    background-color: rgb(37, 36, 36);
    color: white;
    border-bottom: solid 1px white;
    padding-bottom: 50px;
    padding-top: 50px;
    h2{
        text-align: center;
        padding-bottom: 30px;
        font-size: 2rem;
    }
    img{
        display: block;
        margin: auto;
    }
    p{
        width: 90%;
        margin: auto;
        padding-top: 30px;
        text-align: justify;
    }
}

@media (max-width: 700px) {
    #beef, #pork, #lamb{
        img{
            max-width: 80%;
        }
    }
    #title-meal{
        font-size: 2rem;
    }
}